/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #dedace;
  font: 13.34px "Times New Roman", Times, serif;
  *font-size: small;
  text-align: center;
  color: #0e100b;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: #0e100b;
}

a:focus, a:hover {
  color: #0a0b06;
  text-decoration: underline;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  width: 25em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
  font-family: "Times New Roman", Times, serif;
}

.site .title {
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: 1em;
  padding-top: 3em;
  text-align: center;
}

.site .footer {
  margin-top: 2em;
  overflow: hidden;
}